header {
    width: 100%;
    height: 100px;
    background-color: #205691;
    position: relative;

    display: flex;
    justify-content: space-between;
    padding: 18px 90px;
    align-items: center;

    img {
        max-width: 90px;
        max-width: 65.7px;
        width: 100%;
        height: 100%;
    }
    
    img.photoProfile {
        border-radius: 50%;
        border: solid #00AAFF 5px;
        cursor: pointer;
    }

    nav {
        max-width: 25rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    a.menu {
        color: white;
        font-family: 'Source Sans 3';
        font-size: 18px;
        font-weight: 500; 
        padding: 15px;
    }

    a:hover {
        color: #00AAFF;
    }
}

.navUser {
    position: absolute;
    right: 2%;
    background-color: #205691;
    opacity: 0;
    animation: fade-in 0.3s forwards;
    
    @keyframes fade-in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    a{
        display: block;
        padding: 8px 15px;
        width: 200px;
        color: #ffffff;
        background-color: #205691;
        font-family: 'Source Sans 3', sans-serif;
        text-align: end;
        transition: background-color 0.3s;

        &:hover{
            background-color: #00AAFF;
        }
        &:active{
            background-color: #0077CC;
        }
    }
}

.closedNavUser {
    display: none;
}
